@use '../abstracts/mixin';
@use '../abstracts/extends';
html {
  height: 100%;
}
body {
  font: {
    family: var(--font__base);
    size: var(--font__base--normal);
  }
}
a {
  color: var(--color__txt);
  border-bottom: 1px solid var(--color__txt);
  text-decoration: none;
  @include mixin.hover {
    transform: scale(1.1)
  }
}
button {
  padding: 0.4em 0.8em;
  border: 1px solid currentColor;
  border-radius: var(--b-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2em;

  font: {
    weight: bold;
  }

  &:hover,
  &:focus,
  &:active {
    background: var(--color__txt);
    color: var(--color__bg);
  }

  .icon svg {
    fill: currentColor;
  }
}
/*******************************************
*              LAYOUT
*******************************************/
// TODO refactor this
main {
  @extend %flex;
  // flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  justify-content: center;
  align-items: flex-end;
  background: var(--color__bg);
  color: var(--color__txt);
  transition: 1s background;
  footer {
    @extend %flex;
    width: 100%;
    padding: 1em;
    justify-content: center;
    align-items: center;
    color: hsl(var(--color__hue), var(--color__sat), 5%);
  
    font: {
      size: var(--font__base--small);
      weight: bold;
    }
  }
}