@use '../abstracts/mixins' as *;
@use '../abstracts/extends';
html {
  height: 100%;
}
body {
  font: {
    family: var(--font__base);
    size: var(--font__base--normal);
  }
}
a {
  color: var(--color__txt);
  border-bottom: 1px solid var(--color__txt);
  text-decoration: none;
  @include hover {
    transform: scale(1.1)
  }
}
/*******************************************
*              LAYOUT
*******************************************/
main {
  @extend %flex;
  // flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  justify-content: center;
  align-items: flex-end;
  background: var(--color__bg);
  color: var(--color__txt);
  transition: 1s background;
}
