@use '../abstracts/mixin';

:root {
  --font__base: 'Roboto Slab', serif;
  --font__headings: 'Ruda', sans-serif;
  --font__base--normal: 1.8rem;
  --font__base--small: 0.7em;
  --sp-sides: 4%;
  --b-radius: 0.4rem;
  --color__hue: 100;
  --color__sat: 50%;
  --color__lum: 50%;
  --color__bg: hsl(
    var(--color__hue), 
    var(--color__sat), 
    var(--color__lum)
  );
  --color__fg: hsl(
    var(--color__hue), 
    var(--color__sat), 
    70%
  );
  --color__txt: hsl(
    var(--color__hue), 
    var(--color__sat), 
    10%
  );
  @include mixin.mediaQuery($from: 'tablet') {
    --font__base--normal: 2.4rem;
  }
}