@use '../../theme/abstracts/extends';
footer {
  @extend %flex;
  padding: 1em;
  justify-content: center;
  align-items: center;
  color: hsl(var(--color__hue), var(--color__sat), 5%);
  font: {
    size: var(--font__base--small);
    weight: bold;
  }
}