.quotebox {
  padding-top: 8rem;
  width: 90%;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  gap: 2em;
  figure {
    position: relative;
    margin: 0 auto;
    align-self: center;
    cursor: pointer;
  }
  blockquote {
    position: relative;
    /* for pseudos */
    color: var(--color__txt);
    font-weight: normal;
    line-height: 1;
    margin: 0;
    border: 2px solid #fff;
    border: solid 2px;
    border-radius: 20px;
    padding: 25px;
    h1 {
      user-select: none;
    }
    &:after {
      content: "";
      position: absolute;
      border: 2px solid var(--color__txt);
      border-radius: 0 50px 0 0;
      width: 60px;
      height: 60px;
      bottom: -60px;
      left: 50px;
      border-bottom: none;
      border-left: none;
      z-index: 3;
    }
    &:before {
      content: "";
      position: absolute;
      width: 80px;
      border: 6px solid var(--color__bg);
      bottom: -3px;
      left: 50px;
      z-index: 2;
      transition: 1s border-color;
    }
  }
  figcaption {
    position: relative;
    color: var(--color__txt);
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
    padding-top: 15px;
    z-index: 1;
    margin-left: 150px;
    padding-left: 12px;
    opacity: 0.8;
    &::first-letter {
      margin-left: -12px;
    }
    cite {
      display: block;
    }
  }
}
.controls {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-top: 2em;
  gap: var(--font__base--small);
  .tip {
    display: block;
    width: 100%;
    position: absolute;
    top: 100%;
    margin-top: 0.1em;
    font: {
      size: var(--font__base--small);
      style: italic;
      weight: bold;
    }
    text-align: center;
  }
  > ul {
    display: none;
    position: absolute;
    z-index: 1;
    padding: 1em;
    bottom: 100%;
    margin-bottom: 0.8em;
    right: 0;    
    gap: 0.4em;
    background: var(--color__fg);
    border: 1px solid currentColor;
    border-radius: 1rem;
    &:after {
      content: '';
      height: 2rem;
      width: 2rem;
      background: var(--color__fg);
      transform: rotate(45deg);
      border: 0 solid currentColor;
      border-width: 0 1px 1px 0;
      border-radius: 0 0 4px 0;
      position: absolute;
      top: 86%;
      right: 20%;
    }
    &.active {
      display: flex;
    }
    a {
      border: 0;
    }
  }
}
